{% extends "index.html" %}
{% block title %}{{ anime_name }}{% endblock %}
{% block content %}
<style>
    .aa:hover .coupontooltip {
    display: block;
    
}


.coupontooltip {
    display: none;
    background: #C8C8C8;
    opacity: 0.5;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}
</style>


<div class="aa">
    <span class="coupontooltip">Zoom - Scroll, Pinch, Drag</span>
    <div class="graph-container">
        <canvas id="graphCanvas"></canvas>
        
    </div>
</div>
    
    <script>
        const charNames = {{ char_names|safe }};
        const charFavorites = {{ char_favorites|safe }};

        const ctx = document.getElementById('graphCanvas').getContext('2d');
       
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: charNames,
                datasets: [{
                    label: 'Number of Favorites',
                    data: charFavorites,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        labels: {
                            font: {
                                size: 20
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: '{{ anime_name }}',
                        font: {
                            size: 20,
                            weight: 'bold'
                        }
                    },
                    zoom: {
                        pan: {
                            enabled: true,
                            mode: 'x',
                            speed: 10,
                            threshold: 10
                        },
                        zoom: {
                            wheel: {
                                enabled: true
                            },
                            pinch: {
                                enabled: true,
                                mode: 'xy',
                                sensitivity: 0.5
                            },
                            touch: {
                                enabled: true,
                                mode: 'xy'
                            },
                            mode: 'x',
                            speed: 0.1,
                            threshold: 2,
                            sensitivity: 3,
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            font: {
                                size: 20,
                            }
                        }
                    },
                    x: {
                        ticks: {
                            font: {
                                size: 20,
                            }
                        }
                    }
                }
            }
        });
    </script>

<script>
    var tooltip = document.querySelectorAll('.coupontooltip');

    document.addEventListener('mousemove', fn, false);

    function fn(e) {
        for (var i=tooltip.length; i--;) {
            tooltip[i].style.left = e.pageX + 'px';
            tooltip[i].style.top = e.pageY + 'px';
            console.log(tooltip[i].style.left)
        }
    }
</script>
{% endblock %}
