{% extends "index.html" %}
{% block title %}Search{% endblock %}
{% block content %}
            <div class="grid-container">
                {% for item in animes %}
                <form style="width: 100%;" id="animeForm" action="/graph/{{ item.name }}_={{ item.code }}" method="post">
                    <div class="grid-item">
                        <input type="hidden" name="name[]" value="{{ item.name }}">
                        <input type="hidden" name="link[]" value="{{ item.link }}">
                        <input type="hidden" name="image[]" value="{{ item.image }}">
                        <input type="image" alt="Submit" src="{{ item.image }}" alt="{{ item.name }}"/>
                        <div class="name">{{ item.name }}</div>
                    </div>
                </form>
                {% endfor %}
            </div>
        

    </div>
    {% endblock %}
